<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <title>Gaming JAM</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/games.js"></script>
</head>

<body class="gameJamMainBody">

    <body class="gameJamMainBody">
        <section class=" container-fluid heroImage">
            <div class="row navigationBar">
                <div class="navigationBarButtons">
                    {{!-- <a class="navigationBarButton" href="#">Home</a>
                    <a class="navigationBarButton" href="#">About Us</a>
                    <a class="navigationBarButton" href="#">Contact</a> --}}
                </div>
            </div>
            <div class="row heroImageInner">
                <div>
                    <h2 class="heroImageInnerTextOne">Welcome to</h2>
                </div>
                <div class="heroImageInnerLogoBox">
                    <img class="heroLogo" src="/assets/images/Game JAM Logo.svg">
                </div>
                <div>
                    <h2 class="heroImageInnerTextTwo">The world's most comprehensive game information resource</h2>
                </div>
            </div>
            <div class="row socialMediaIconArray">
                <a href="https://github.com/Jermayy/Project_2.git"><i class="fab fa-github-square socialMediaIcon
            "></i></a>
                <a href="https://www.linkedin.com/in/mohammadpishdar/"><i class="fab fa-linkedin socialMediaIcon
            "></i></a>
                <a href="https://twitter.com/aBuiDev"><i class="fab fa-twitter-square socialMediaIcon
            "></i></a>
            </div>
        </section>
        {{{ body }}}
        <footer class="container-fluid">
            <div class="row gameJamFooter">
                <div class="gameJamFooterContent">
                    <p>2020 GameJam Copyright ©</p>
                </div>
            </div>
        </footer>
    </body>

</html>