<h1>Gaming JAM</h1>

<div>
    <form>
        <label for="gameSearch">Game Search:</label><br>
        <input type="text" id="gameSearch" name="gameSearch"><br>
        <input type="submit" value="Submit">
    </form>
</div>

<section class="container m-5">
    <div class="row">
        <div class="col-3-sm">
            {{ outputScore }}
        </div>

        <div class="col-3-sm">
            {{ outputScore }}
        </div>

        <div class="col-3-sm">
            {{ outputPlatform }}
        </div>

        <div class="col-3-sm">
            {{ outputGenre }}
        </div>
    </div>
</section>