<h1>Gaming JAM | Review Scores</h1>

<div>
    <form>
        <label for="gameReviewSearch">Game Search:</label><br>
        <input type="text" id="gameReviewSearch" name="gameReviewSearch"><br>
        <input type="submit" value="Submit">
    </form>
</div>

<section class="container m-5 p-5">
    <div class="row">
        <div class="col-3-sm ml-1 mr-1">
            <h2>Game Name:</h2>
            {{ outputGameName }}
        </div>

        <div class="col-3-sm ml-1 mr-1">
            <h2>Game Review Score:</h2>
            {{ outputGameReviewScore }}
        </div>

        <div class="col-3-sm ml-1 mr-1">
            <h2>Game Platform:</h2>
            {{ outputGamePlatform }}
        </div>

        <div class="col-3-sm ml-1 mr-1">
            <h2>Game Genre:</h2>
            {{ outputGameGenre }}
        </div>
    </div>
</section>