/* ////////////////////// */
/* // Navigational Bar // */
/* ////////////////////// */
.navigationBar {
    margin: 25px 0px 0px 0px;
}


.navigationBarButton {
    color:white;
    padding: 0px 25px 0px 25px;
}

.navigationBarButton:hover {
    color: rgb(15, 52, 121);
    text-decoration: none;
}

/* //////////////////// */
/* //// Hero Image //// */
/* //////////////////// */
.heroImage {
    background-image: url("../images/gamerJamHeroImagePlaceHolder.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.heroImageInner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heroImageInnerLogoBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImageInnerTextOne {
    color: white;
    font-size: 25px;
    margin: 25px 0px 25px 0px;
}

.heroImageInnerTextTwo {
    color: white;
    font-size: 15px;
    margin: 25px 0px 25px 0px;
}

.heroLogo {
    width: 300px;
    height: auto;
}

.socialMediaIconArray {
    margin: 0px 0px 25px 0px;
}

.socialMediaIcon {
    font-size: 25px;
    color: white;
    margin: 0px 10px 0px 10px;
}

.socialMediaIcon:hover {
   color: lightseagreen;
}

.gameJamFooter {

}

.gameJamMainBody {
    background-color: #0f1923;
}

.gameJamMainOutputBody {
    max-width: 70%;
    display: flex;
    justify-content: center;
    color: rgb(255, 217, 0);
}

.formBody {
    width: 70%;
}

.formSearchAndSubmit {
    display: flex;
    justify-content: space-between;
}

.formSearchSection {
    margin: 25px;
    display: flex;
    flex-direction: column;
}

.formSearchInputBar {
    max-width: 100%;
}

.formDropDownSection {
    display: flex;
    flex-direction: row;
    justify-content: 
}

.formDropDowns {
    width: 50%;
    margin: 25px;
    display: flex;
    flex-direction: column;
}

.formSubmit {
    margin: 25px;
    display: flex;
    justify-content: center;
}

.submitButtonStyle {
    width: 50%;
}



/* Naviation Bar 600px Media Break */
@media only screen and (max-width: 600px) {
    .navigationBarButtons {
      display: none;
    }
  }