/* ////////////////////// */
/* // Navigational Bar // */
/* ////////////////////// */
.topNavigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gamerJamNavLogoBox {
    width: 150px;
    height: auto;
    padding: 25px 0px 15px 0px;
}

.navigationBarButton {
    color: grey;
    padding: 0px 25px 0px 25px;
}

.navigationBarButton:hover {
    color: lightseagreen;
    text-decoration: none;
}

/* //////////////////// */
/* //// Hero Image //// */
/* //////////////////// */
.heroImage {
    background-image: url("../images/gamerJamHeroImagePlaceHolder.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.heroImageInner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heroImageInnerLogoBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImageInnerTextOne {
    color: white;
    font-size: 25px;
    margin: 25px 0px 25px 0px;
}

.heroImageInnerTextTwo {
    color: white;
    font-size: 15px;
    margin: 25px 0px 25px 0px;
}

.heroLogo {
    width: 300px;
    height: auto;
}

.socialMediaIconArray {
    margin: 0px 0px 25px 0px;
}

.socialMediaIcon {
    font-size: 25px;
    color: white;
    margin: 0px 10px 0px 10px;
}

.socialMediaIcon:hover {
   color: lightseagreen;
}

/* Naviation Bar 600px Media Break */
@media only screen and (max-width: 600px) {
    .navigationBarButtons {
      display: none;
    }
  }